* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 320px) {
    body header {
        width: 100%;
    }

    body header .left-side {
        width: 35%;
    }

    body header .right-side {
        width: 65%;
    }

    body header .right-side #project {
        display: none;
    }

    body main {
        height: auto !important;
    }

    body main aside.menu {
        display: none;
    }

    body main .main-container {
        width: 100%;
        padding: 10px;
    }

    body main .main-container .header-container {
        text-align: center;
    }

    body main .main-container .stats-container {
        width: 100%;
    }

    body main .main-container .stats-container .sales {
        width: 100%;
        padding: 10px;
    }

    body main .main-container .stats-container .sales-header h1 {
        font-size: 22px;
    }

    body main .main-container .stats-container .sales-container {
        padding: 0 !important;
    }

    body main .main-container .stats-container .sales-container .main-circle {
        height: 160px !important;
    }

    body main .main-container .stats-container .sales-container ul {
        margin-left: 10px;
    }

    body main .main-container .stats-container .report {
        width: 100%;
        margin-top: 20px;
        height: 300px;
    }

    body main .main-container .stats-container .report-header h1 {
        font-size: 22px;
    }

    body main .main-container .info-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    body main .main-container .info-container .tasks, body main .main-container .info-container .messages {
        width: 100%;
        margin: 20px 0;
    }

    body main .main-container .info-container .tasks .tasks-body .body-item p, body main .main-container .info-container .tasks .messages-body .body-item p, body main .main-container .info-container .messages .tasks-body .body-item p, body main .main-container .info-container .messages .messages-body .body-item p {
        font-size: 12px;
    }
}
