@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  body .auth-block {
    width: 90%;
    left: 5%;
  }
}
@media screen and (max-width: 320px) {
  body .auth-block .auth-header .header-logo {
    width: 40%;
  }
  body .auth-block .auth-header .header-button {
    width: 50%;
  }
  body .auth-block .auth-body .body-header h2 {
    font-size: 20px;
  }
  body .auth-block .auth-body .body-header span {
    font-size: 20px;
  }
  body .auth-block .auth-body .body-input {
    width: 90%;
    margin-top: 25px;
  }
  body .auth-block .auth-body .body-input .inp {
    width: 90%;
    font-size: 14px;
  }
  body .auth-block .auth-body .body-button {
    width: 90%;
  }
  body .auth-block .auth-body .body-button a {
    padding: 10px 80px;
  }
}
